@import "../css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 14px;
	background: #fff;
	overflow: hidden;

	&>div {
	}

}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.zmiti-index-main-ui {
	overflow: hidden;
	z-index: -1;
	opacity: 0;

	&.show {
		opacity: 1;
		z-index: 102;
	}

	.zmiti-index-map {
		@include pos(a);
		top: 50%;
		left: 0;
		@include transform(translate3d(0, -50%, 0));

		.zmiti-index-pos {
			@include pos(a);

			img {
				width: .5rem;
			}

		}

	}

}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

}

.zmiti-mask {
	@include pos(f);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 300;
	text-align: right;

	img {
		width: 6rem;
	}

}
